.button {
  width: fit-content;
  color:white;
  background-color: #ff7b00;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  font-size:14px;
  border-radius: 5px; 
  align-self: center;
}
.header{
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position:sticky;
  top:0;
  background-color: white;
  z-index: 1;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}

.c-modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: white; /* Fallback color */
  background-color: rgba(10, 8, 8, 0.8) ;
}

/* Modal Content */
.c-modal-content {
  border: 1px solid #000000;
  width: 100%;
  height: 100%;
  background: transparent;
}

/* The Close Button */
.c-close {
  color: #ffffff;
  float: right;
  padding-right: 0.5rem;
  font-size: 32px;
  font-weight: 100;
  cursor: pointer;
}

.form-modal {
  text-align: center;
   display: flex; 
  flex-direction: column; 
  justify-content: center;
  margin-top: 6rem;
  overflow: hidden;
  background-color: white;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem;
  border-radius: 25px;
}

.form-modal h2 {
  padding-bottom: 2rem;
}
.form-modal input {
  margin-bottom: 1rem;
  width: 85%;
}